@import "tailwindcss";

@font-face {
	font-family: Tomarik;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("/fonts/tomarik/Tomarik-Display.ttf") format("truetype");
  }

@theme {
	--font-title: "Tomarik", "sans-serif"; 

	--color-primary: #000000;
	--color-secondary: #FF0000;
	--color-custom-white: #F5F1EA;
  }